:root {
  color-scheme: light;
  --global_palette-blue: #345995ff;
  --global_palette-yellow: #eac435ff;
  --global_palette-pink: #e40066ff;
  --global_palette-black: #080f0fff;
  --global_palette-white: #ffffffff;

  --global_page-background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --global_page-background: black;
  }
}
