@use "normalise";
@use "theme";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--global_page-background);
}

article {
  display: grid;
  width: 100vw;
  height: 100vh;
  place-items: center;
}
