<h3>Players</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Position</th>
        <th>DOB</th>
        <th>Nationality</th>
        <th>Contracted until</th>
        <th>Market value</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in teamPlayersList">
        <td>{{player.jerseyNumber}}</td>
        <td>{{player.name}}</td>
        <td>{{player.position}}</td>
        <td>{{player.dateOfBirth | date: 'dd MMM yy'}}</td>
        <td>{{player.nationality}}</td>
        <td>{{player.contractUntil | date: 'dd MMM yy'}}</td>
        <td>{{player.marketValue}}</td>
      </tr>
    </tbody>
  </table>
</div>