<div class="table-responsive" ng-controller="standingsController">
  <h2>{{fullData.leagueCaption}}</h2>
  <h3>Matchday: {{fullData.matchday}}</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="center">Pos.</th>
        <th>Team</th>
        <th class="center">Played</th>
        <th class="center">GS</th>
        <th class="center">GA</th>
        <th class="center">GD</th>
        <th class="center">Pts</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="team in standingsList">
        <td class="center">{{team.position}}</td>
        <td><a href="#/league/team/{{ team._links.team.href | teamUrl }}">{{team.teamName}}</td>
        <td class="center">{{team.playedGames}}</td>
        <td class="center">{{team.goals}}</td>
        <td class="center">{{team.goalsAgainst}}</td>
        <td class="center">{{team.goalDifference}}</td>
        <td class="center">{{team.points}}</td>
      </tr>
    </tbody>
  </table>
</div>
